.custom-bg {
	background-color: #5b5b5b12;
}
.custom-navbar {
	background-color: #FF81C2 !important;
}

/*Menu*/
.custom-nav {
	margin-right: 5%;
}
.custom-home {
	height: 340px;
}
.custom-portofolio {
	height: 1320px;
}
.custom-blog {
	height: 620px;
}
.custom-team {
	height: 420px;
}
.custom-about {
	height: 460px;
}
.custom-contact {
	height: 420px;
}
.custom-footer {
	height: 40px;
	background-color: #FF81C2;
}
.custom-body {
	margin: 2%;
}
/*/.Menu*/

.custom-bold {
	font-weight: bold;
}
.img-thumbnail {
	width: 80% !important;
	border: #000000;
}
.custom-hfont {
	font-size: 3em;
	color: #FF81C2;
}
.shadow {
  box-shadow: 0 .5rem 1rem rgba(12, 101, 179, 0.4) !important;
}
.custom-button-align {
	margin-top: 25px !important;
	background-color: #FF81C2;
}
.custom-button-font {
	color : white;
}
.custom-img-rad {
	border-radius: 100rem;
}
.custom-img-center {
	display: block;
	margin : auto;
	width: 80%;
}
.custom-outline-pink {
  color: #FF81C2 !important;
  border-color: #FF81C2 !important;
}
.custom-white {
	color: white !important;
}
p {
	text-align: justify;
}